---
import { CustomCarousel } from '@/components/portfolio/ui/custom-carousel.tsx'
---

<section
	data-testid='about'
	id='about'
	class='z-50 h-screen bg-white dark:bg-black flex flex-col items-center justify-center lg:flex-row'
>
	<div class='flex flex-col w-full h-screen justify-center items-center'>
		<div
			class='w-full bg-white border-4 border-black dark:bg-black
                            shadow-[8px_8px_0px_0px_rgba(0,0,0,1)] dark:shadow-white
                            transform hover:-translate-y-1 hover:shadow-[12px_12px_0px_0px_rgba(0,0,0,1)]
                            transition-all duration-300 p-6 mb-10'
		>
			<h1 class='z-50 text-4xl md:text-5xl font-black text-black text-center dark:text-white'>
				Experience 💼
			</h1>
		</div>
		<CustomCarousel client:load />
	</div>
</section>
