---
import Social from '@/components/portfolio/ui/Social'
---

<section
	data-testid='contact'
	id='contact'
	class='z-50 flex flex-col flex-wrap items-center justify-center gap-8 text-black dark:text-white lg:mb-0 lg:h-screen'
>
	<hr class='z-50 w-1/2' />
	<div class='z-50 flex flex-col gap-8 lg:flex lg:flex-row lg:gap-20'>
		<Social />
	</div>
</section>
