---
import About from '@/components/portfolio/About'
import Contact from '@/components/portfolio/Contact'
import Hero from '@/components/portfolio/Hero'
import Projects from '@/components/portfolio/Projects'
import BackToTop from '@/components/portfolio/ui/BackToTop'
import Layout from '@/layouts/PortfolioLayout'
---

<Layout>
	<main>
		<Hero />
		<About />
		<Projects />
		<Contact />
		<BackToTop />
	</main>
</Layout>
