---
import Portfolio from '@/layouts/Portfolio'

import Hero from '@/components/portfolio/Hero'
import Mesh from '@/components/portfolio/Mesh'
import About from '@/components/portfolio/About'
import Projects from '@/components/portfolio/Projects'
import Contact from '@/components/portfolio/Contact'
---

<Portfolio>
	<main
		class='relative mx-auto w-full items-center justify-center bg-white dark:bg-background space-y-8 sm:space-y-12 md:space-y-16 lg:space-y-20'
	>
		<Mesh />
		<Hero />
		<About />
		<Projects />
	</main>
</Portfolio>
